.hg/
.bzr/
.svn/
*.user
*.suo
*.ncb
Debug/
Release/
*~
*.swp
*.orig
*.aps
*.pyc
build/
buildex/
.fbgen.cfg
src/libs/log4cplus/include/log4cplus/config/defines.hxx
src/libs/curl/curl
src/libs/openssl/openssl
.DS_Store
*.kdev*
.kdev*
tags
bin

!src/3rdParty/boost/boost/preprocessor/debug/
!src/3rdParty/boost/boost/spirit/home/classic/debug/
*.wixobj
projects/ZigJS/Win/BundleInstallers/engine.exe