html, body {	
	margin: 0;
	padding: 0;
}
body {
	background: #3b495b; /* Old browsers */
	background-position: center 100px;
	background: -moz-radial-gradient(center 100px, ellipse cover,  #3b495b 25%, #151b23 65%); /* FF3.6+ */
	background: -webkit-gradient(radial, center 100px, 0px, center center, 65%, color-stop(0%,#3b495b), color-stop(65%,#151b23)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center 100px, ellipse cover,  #3b495b 25%,#151b23 65%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center 100px, ellipse cover,  #3b495b 25%,#151b23 65%); /* Opera 12+ */
	background: -ms-radial-gradient(center 100px, ellipse cover,  #3b495b 25%,#151b23 65%); /* IE10+ */
	background: radial-gradient(center 100px, ellipse cover,  #3b495b 25%,#151b23 65%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b495b', endColorstr='#151b23',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
@font-face {
	font-family: 'Rokkitt';
	font-style: normal;
	font-weight: normal;
	src: local('Rokkitt'), url('http://themes.googleusercontent.com/static/fonts/rokkitt/v4/RcB7dRNAX_8JE8zinU47YALUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}
#wrapper {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	height: 100%;
	width: 800px;
}
#logocontainer {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0;
}
#logo {
	padding-left: 18px;
}
h1 {
	/*line-height: 1em;*/
}

.menuborderdark {
	height: 1px;
	width: 100%;

background: -moz-linear-gradient(left,  rgba(180,201,216,0) 0%, rgba(180,201,216,1) 33%, rgba(180,201,216,1) 67%, rgba(180,201,216,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(180,201,216,0)), color-stop(33%,rgba(180,201,216,1)), color-stop(67%,rgba(180,201,216,1)), color-stop(100%,rgba(180,201,216,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(180,201,216,0) 0%,rgba(180,201,216,1) 33%,rgba(180,201,216,1) 67%,rgba(180,201,216,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(180,201,216,0) 0%,rgba(180,201,216,1) 33%,rgba(180,201,216,1) 67%,rgba(180,201,216,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(180,201,216,0) 0%,rgba(180,201,216,1) 33%,rgba(180,201,216,1) 67%,rgba(180,201,216,0) 100%); /* IE10+ */
background: linear-gradient(left,  rgba(180,201,216,0) 0%,rgba(180,201,216,1) 33%,rgba(180,201,216,1) 67%,rgba(180,201,216,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b4c9d8', endColorstr='#00b4c9d8',GradientType=1 ); /* IE6-9 */
}
.menuborderlight {
	height: 1px;
	width: 100%;

background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.76) 25%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 67%, rgba(255,255,255,0.76) 75%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(25%,rgba(255,255,255,0.76)), color-stop(33%,rgba(255,255,255,1)), color-stop(67%,rgba(255,255,255,1)), color-stop(75%,rgba(255,255,255,0.76)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.76) 25%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 67%,rgba(255,255,255,0.76) 75%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.76) 25%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 67%,rgba(255,255,255,0.76) 75%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.76) 25%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 67%,rgba(255,255,255,0.76) 75%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.76) 25%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 67%,rgba(255,255,255,0.76) 75%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
#menucontainer {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	margin-top: 0;
	width: 800px;
	height: 450px;

}
div.anythingSlider {
	padding: 0 ;
}

div.anythingSlider.activeSlider {
}
div.anythingSlider .anythingWindow {
	height: 100%;
	width: 800px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	
	border: none;
	/*
	box-shadow: 20px 20px 20px #112735;
	-moz-box-shadow: 20px 20px 20px #112735;
	-webkit-box-shadow: 20px 20px 20px #112735;
	*/

-moz-box-shadow: 0px 10px 40px 15px #112735;
-webkit-box-shadow: 0px 10px 40px 15px #112735;
box-shadow: 0px 10px 40px 15px #112735;


background: #dce8f0; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #dce8f0 30%, #c0cfd8 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#dce8f0), color-stop(100%,#c0cfd8)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #dce8f0 30%,#c0cfd8 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #dce8f0 30%,#c0cfd8 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #dce8f0 30%,#c0cfd8 100%); /* IE10+ */
background: radial-gradient(center, ellipse cover,  #dce8f0 30%,#c0cfd8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dce8f0', endColorstr='#c0cfd8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

div.anythingSlider .anythingWindow {
	z-index: 2;
}

div.anythingSlider .anythingWindow ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
}

div.anythingSlider .anythingWindow ul li, 
div.anythingSlider .anythingWindow ul li.default, 
div.anythingSlider .anythingWindow ul li a:link, 
div.anythingSlider .anythingWindow ul li a:visited,
div.anythingSlider .anythingWindow ul li a {
	font-family: 'Rokkitt';
	font-size: 30pt;
	letter-spacing: -2px;
	color: #3c5161;
	text-decoration: none;
	text-shadow: 0 1px 0 white;
	/*
	border: 0px solid white;
	vertical-align: middle;
	padding-top: 0px;
	padding-bottom: 0px;
	
	padding-left: 5px;
	padding-right: 5px;
	margin: 0;
	height: 70px;
	line-height: 70px;
	*/
}
div.anythingSlider .anythingWindow ul li.highlighted,
div.anythingSlider .anythingWindow ul li a:hover, 
div.anythingSlider .anythingWindow ul li a:active,
div.anythingSlider .anythingWindow ul li a.highlighted {
	background: rgba(255,255,255,0.5);
	color: #5c7181;
	text-decoration: none;
	text-shadow: 0 -1px 0 black;
	border-top: 1px solid rgba(150,160,170,0.5);
	border-bottom: 1px solid rgba(234,241,255,1.0);
	box-shadow:inset 0 0 10px #c0cfd8;
}

div.anythingSlider .back {
	left: -52px;
	z-index: 0;
}
div.anythingSlider .back a {
	background-image: url(images/but_left.png);
}
div.anythingSlider .back a:hover, div.anythingSlider .back a.hover { 
	background-image: url(images/but_left_hvr.png);
	z-index: 3;
}
div.anythingSlider .forward {
	right: -52px;
	z-index: 0;
}
div.anythingSlider .forward a {
	background-image: url(images/but_right.png);
	background-position: right top;
}
div.anythingSlider .forward a:hover, div.anythingSlider .back a.hover { 
	background-image: url(images/but_right_hvr.png);
	z-index: 3;
}

div.anythingSlider .anythingControls {
	background-image: none !important;
	background-color: #41484c !important;
	color: #cedce4 !important;
}
div.anythingSlider.activeSlider .anythingControls ul a,
div.anythingSlider.activeSlider .anythingControls ul a.first,
div.anythingSlider.activeSlider .anythingControls ul a.last,
div.anythingSlider.activeSlider .anythingControls ul a:link,
div.anythingSlider.activeSlider .anythingControls ul a:visited,
div.anythingSlider.activeSlider .anythingControls ul a.cur:link,
div.anythingSlider.activeSlider .anythingControls ul a.cur:visited,
div.anythingSlider.activeSlider .anythingControls ul a span,{
	background-image: none !important;
	background-color: #41484c !important;
	color: #cedce4 !important;
}

div.anythingSlider .anythingControls ul a:hover,
div.anythingSlider .anythingControls ul a:active,
div.anythingSlider .anythingControls ul a.cur:hover,
div.anythingSlider .anythingControls ul a.cur:active, {
	background-image: none;
	background-color: #41484c;
	color: white;
}