<?xml version="1.0" encoding="UTF-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<Bundle Name="ZigFu ZigJS Kinect For Windows Bundle" Version="1.0.2.0" Manufacturer="ZigFu" UpgradeCode="93934D68-30BE-4059-9A79-D0ADD9CE740B" IconSourceFile="../icon.ico">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />
		<WixVariable Id="WixStdbaLicenseRtf" Value="../license.rtf" />
	    <!--<WixVariable Id="WixStdbaLogo" Value="../neonsquare.bmp"/>-->
		<Chain>
			<ExePackage SourceFile="$(env.KINECTSDK10_DIR)Redist\KinectRuntime-v1.5-Setup.exe" />
			<!-- we expect build*.bat to set ZIGJSMSI to point to the right MSI -->
			<MsiPackage SourceFile="$(env.ZIGJSMSI)" />
		</Chain>
</Bundle>
</Wix>